
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/*Navbar styling*/

.navbar {
  background-color: #004643 !important;
}

.navbar .nav-link {
  color: #FAF4D3 !important;
}

.navbar .nav-link:hover {
  color: #abd1c6 !important;
}

.navbar-text {
  color: #FAF4D3;
}

/* To keep the table columns aligned across categories on Fridge view */
.table {
  table-layout: fixed; /* or auto */
  width: 100%;
}