
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 50px;
  gap: 20px;
}

/* To keep the table columns aligned across categories on Fridge view */
.table {
  table-layout: fixed; /* or auto */
  width: 100%;
}