/* Home.css */

.home-container {
    display: flex;
    width: 100vw;
    height: 100vh;
  }
  
  .text-field {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #004643; /* Optional: background color for left section */
    color: #FAF4D3;
  }
  
  .text-field h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .greeting {
    font-size: 1.2em;
    margin-top: 10px;
  }
  
  .image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .home-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
  